<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>San Carlo Potenza - Avvisi e Concorsi</title>
    <base target="_self">
    <meta name="description" content="" />
    <meta name="google" value="notranslate" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <p class="lead"></p>
        <nav class="navbar navbar-light bg-light rounded navbar-fixed-top navbar-expand-md">
            <div class="d-flex w-100">
                <h2 class="text-primary">Avvisi e Concorsi <small>A.O.R. San Carlo</small></h2>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="navbar-toggler-icon"></span>
            </button> </div>
            <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <li class="nav-item"> <a class="btn btn-primary" href="showSignUp">Accedi</a> </li>
                        <li class="nav-item"> <a class="btn btn-link" href="#">Registrati</a> </li>
                </ul>
            </div>
        </nav>
        <p class="lead"></p>
        <div class="jumbotron">
            <h2>Avvisi e Concorsi Aperti</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>
        <p class="lead"></p>
        <div class="jumbotron">
            <h2>Avvisi e Concorsi Chiusi</h2>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
        
        <footer class="footer">
            <p>&copy; CuteWorks 2018</p>
        </footer>
    </div>

</body>

</html>
